/*geral*/
*{
  margin: 0;  /**/
  padding: 0; /**/
  box-sizing: border-box; /* colocado para manter a margen do coteiner caso presise de prenchimento*/
}



body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color)/* cor da ketra*/;
  
}
#Principal{
  text-align: center;/*centraliza coisas que são por padrão iline, como as Img, que é o caso*/
    padding: 24px ;/* prenchimeto*/
    
}
.card1{
  background-color:  rgba(142, 68, 142, 0.704);  
  width: 100%;
  max-width: 500px;
  height: 600px;
  margin: 56px auto 0px;
 padding: 0 24px;;
 border-radius: 8px;

 
 
}
.cadastro{
  border: 1px solid rgb(251, 0, 255);
  align-items: center;
  width: 250px;
  height: 550px;
  margin-top: 50px ;
  padding: 60px;
  inline-size: auto;
  align-items: center;
}
#Adicionar{
  border: 1px solid rgb(251, 0, 255);
    text-align:center;
  padding: 10px 24px;
}
button{
  background-color:rgb(16, 107, 107) ;
  border-color: #090a7a;
  color:#feffff;
  padding: 7px;
  font-weight: bold;
  height:60px;
  width:200px;
  font-size: 12pt;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  
}
.editar{

 
  cursor: pointer;
 
  background: url(excluir\ \(1\).png)
}
ul{
  
  
  list-style-type: none;
  list-style: none;/* tira o ponto das lista*/
  display: flex;/* separa os coteudo das linhas */
  flex-direction: column; /*colaca o coteudo em culuna e não um ao lado do outro*/
  gap: 16px; /*epaçao entre os conteudos*/  
  padding:  24px 0;   
}

 
   
.label-float input {

  width: 100%;
  padding: 5px 5px;
  display: grid;
  border: 0;
  border-bottom: 3px solid #0d009c;
 margin-bottom: 10px;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content:center; /* centralizar o conteudo*/
  padding: 10px 24px;/*preenchimento do conteudo,por isso não presisa de autura nem largura */
  
  border-radius: 2px;/* aredodar */
  backdrop-filter:blur(4px);/*tranparencia*/
  -webkit-backdrop-filter:blur(4px) ;
  text-decoration: none;
  font-weight: 500;
}
.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
}


table{
  border-collapse: collapse;
    border : 1px solid #ccc;
    height: 50px;
    width: 350px;

 
}
  table th {
  background-color: rgb(214, 214, 214);}
  table th, td {
  padding: 1px 5px;
  text-align: left;
  }
    table td img {
width: 20px;
    }
  .center {
  
  text-align: center;
  ;}